CompileFlags:
  Add: ["-Wall", "-Wextra", "-xc", "--target=x86_64-w64-mingw32", "-D__USE_MINGW_ANSI_STDIO=0", "-std=c17"]

Diagnostics:
  ClangTidy:
    Add: ["modernize*", "performance*", "portability*", "readability*", "bugprone*"]
    Remove: ["readability-identifier-length", "readability-magic-numbers", "readability-isolate-declaration", "bugprone-easily-swappable-parameters", "bugprone-suspicious-realloc-usage"]